.idea/
.vs/
.vscode/
build/
cmake/open-cpp-coverage.cmake
cmake-build-*/
prefix/
CMakeLists.txt.user
CMakeUserPresets.json
.clang*/
.clang*
.github/
.codespellrc
tetris
tetrisd
CMakeFiles*
Makefile
CMakeCache.txt
cmake_install.cmake
*.json
.vimspector*
.cache/
